.videoElement, #c {
    width: 286px;
    height: 214px;
    border-radius: 0.2em;
}

.card-body {
    position: absolute;
    bottom: -35px;
    right: -10px;
}

.gaia-recognition {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

#blackModal { 
    background: #000000;
    width: 100%;
    position: fixed;
    height: 100%;
    flex: 100%;
    z-index: 999;
}